<?xml version='1.0' encoding='utf-8'?>
<widget id="ralfstx.kitchenradio" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>KitchenRadio</name>
  <description>
    Kitchen Radio music player interface
  </description>
  <author email="ralfstx@gmail.com" href="https://github.com/ralfstx/">
    Ralf Sternberg
  </author>
  <content src="www"/>
  <access origin="*"/>
  <platform name="android">
    <icon src="res/android/radio_48.png" density="mdpi" />
    <icon src="res/android/radio_72.png" density="hdpi" />
    <icon src="res/android/radio_96.png" density="xhdpi" />
    <icon src="res/android/radio_144.png" density="xxhdpi" />
  </platform>
</widget>
